html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #750353), to(#170024));
  background: -o-linear-gradient(left, #020024 0%, #750353 0%, #170024 100%);
  background: linear-gradient(90deg, #020024 0%, #750353 0%, #170024 100%);
  color: #955f7a;
  font-family: Helvetica;
  margin: auto;
  max-width: 800px;
  font-size: 14px;
  line-height: 1, 5;
  padding: 16px; }

.aboutMe {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  position: relative;
  overflow: hidden;
  grid-area: aboutMe; }

.anastazja {
  width: 100%;
  max-width: 200px;
  display: block;
  float: left;
  margin: 0 16px 16px 0; }

.content {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: content; }

.diary__header,
.aboutMe__header {
  font-size: 24px;
  color: #852354;
  font-weight: bold; }

.diary {
  clear: left; }

.diary__day {
  margin: 16px; }

.diary__dayHeader {
  color: #852354;
  font-size: 16px;
  font-weight: bold; }

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px; }

.hobby__list {
  list-style: none;
  padding: 0; }

.top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  /* color: goldenrod; */
  text-decoration: none; }

.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 24px;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #750353), to(#170024));
  background: -o-linear-gradient(left, #020024 0%, #750353 0%, #170024 100%);
  background: linear-gradient(90deg, #020024 0%, #750353 0%, #170024 100%);
  z-index: 2; }

.main {
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header" "aboutMe content" "footer footer";
  -ms-grid-columns: 200px 32px 1fr;
  grid-template-columns: 200px 1fr;
  -ms-grid-rows: 100px;
  grid-template-rows: 100px;
  grid-row-gap: 16px;
  grid-column-gap: 32px; }

.navigation__list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.navigation__item {
  display: block;
  margin: 8px 16px; }

.navigation__link {
  text-decoration: none; }

.navigation__switcher {
  background: none;
  border: none;
  color: #955f7a;
  position: absolute;
  right: 16px;
  top: 16px; }

@media (max-width: 640px) {
  .anastazja {
    display: none; }
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .main {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
        grid-template-areas: "header" "aboutMe" "content" "footer"; }
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none; }
  .navigation__list--visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: hotpink; }
  .aboutMe {
    -ms-grid-row: 2;
    -ms-grid-column: 1; }
  .content {
    -ms-grid-row: 3;
    -ms-grid-column: 1; } }

@media (min-width: 640px) {
  .navigation__switcher {
    display: none; } }

@media (min-width: 1200px) {
  body {
    max-width: 900px; } }

/*# sourceMappingURL=main.css.map */
